/* Global styles */
.universal_font {
    font-family: 'Pixellari';
    text-shadow:
    2px 0 0 #000,
   -2px 0 0 #000,
    0 2px 0 #000,
    0 -2px 0 #000,
    2px 2px 0 #000,
   -2px -2px 0 #000,
    2px -2px 0 #000,
   -2px 2px 0 #000;

}

.text_border_2px {
    text-shadow:
    2px 0 0 #000,
   -2px 0 0 #000,
    0 2px 0 #000,
    0 -2px 0 #000,
    2px 2px 0 #000,
   -2px -2px 0 #000,
    2px -2px 0 #000,
   -2px 2px 0 #000;

}

.text_border_3px {
    text-shadow: 
    3px 0 0 #000, -3px 0 0 #000,
    0 3px 0 #000, 0 -3px 0 #000,
    3px 3px 0 #000, -3px -3px 0 #000,
    3px -3px 0 #000, -3px 3px 0 #000;

}

.text_border_4px {
    text-shadow: 
    4px 0 0 #000, -4px 0 0 #000,
    0 4px 0 #000, 0 -4px 0 #000,
    3px 3px 0 #000, -3px -3px 0 #000,
    3px -3px 0 #000, -3px 3px 0 #000,
    2px 4px 0 #000, -2px -4px 0 #000,
    4px 2px 0 #000, -4px -2px 0 #000;
}

.background {
    background-image: linear-gradient(#101010, #1a1a1a, #101010);
}

.btn_animations_transition {
    transition: all 200ms ease;
}

.btn_animation_hover:hover {
    background-image: linear-gradient(rgba(167, 167, 167, 0.15), rgba(167, 167, 167, 0.15));
    background-color: rgba(167, 167, 167, 0.15);
}

.universal_transparent_btn {
    background-image: linear-gradient(transparent, transparent);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    border: none;
}
/*=============================================================================================== */

/* Títulos das páginas */
.title_labels {
    font-size: 96px;
    font-family: 'Pixellari';
    color: #FFFDD0;
}
/* Botões universais */
.menu_btns {
    background-image: linear-gradient(transparent, transparent);
    font-family: 'Pixellari';
    font-size: 32px;
    border-radius: 20px;
    border-color: #FFFBA9;
    color: #D19275;
    border-width: 4px;
    box-shadow: 2px 0px 5px rgba(255, 251, 169, 0.3);
}

.fr1_border_background {
    background-color: rgba(38, 38, 38, 0.65);
    border: 6px solid rgba(38, 38, 38, 0.4);
    border-radius: 20px;
}

.fr1_border_background_menu {
    border: 3px solid #FFFBA9;
    background-color: rgba(12, 12, 12, 0.4);
    border-radius: 10px;
    box-shadow: 2px 0px 5px rgba(255, 251, 169, 0.3);
}

.fr1_slot_border {
    border-top: 3px solid #FFFBA9;
    box-shadow: 2px 0px 5px rgba(255, 251, 169, 0.3);
}

.fr1_btns {
    border: 2px solid #FFFBA9;
    background-image: linear-gradient(transparent, transparent);
    border-radius: 20px;
    box-shadow: 2px 0px 5px rgba(255, 251, 169, 0.3);
}

.fr1_btn_close {
    background-image: url('../img_files/close_button.png');
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    border: none;
}

.fr1_btn_remove {
    background-image: url('../img_files/remove_button.png');
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    border: none;
}

.fr1_btns_delsave {
    border: 0px solid #ffffff;
    border-radius: 10px;
    background-image: linear-gradient(transparent, transparent);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}
/* Css Referente ao frame 2 -> Login */

.fr2_entry {
    background-image: linear-gradient(transparent, transparent);
    background-color: transparent;
    font-family: 'Pixellari';
    font-size: 16px;
    border-radius: 16px;
    border-color: #FFFBA9;
    color: #FFFDD0;
    border-width: 4px;   
    box-shadow: 2px 0px 5px rgba(255, 251, 169, 0.3);
}

.fr2_labels {
    font-family: 'Pixellari';
    font-size: 20px;
    color: #D19275;
}

.side_btns {
    background-image: linear-gradient(transparent, transparent);
    font-family: 'Pixellari';
    font-size: 24px;
    border-radius: 20px;
    border-color: #FFFBA9;
    color: #fffff0;
    border-width: 4px;
    box-shadow: 2px 0px 5px rgba(255, 251, 169, 0.3);
}

.fr2_forget {
    background-image: linear-gradient(transparent, transparent);
    font-family: 'Pixellari';
    font-size: 14px;
    border-color: transparent;
    box-shadow: none;
    color: #fffff0;
}

.fr4_warning {
    background-image: linear-gradient(transparent, transparent);
    font-family: 'Pixellari';
    font-size: 16px;
    border-color: transparent;
    box-shadow: none;
    color: #fffff0;
}

/* Frame 5 principal: Bestiário, Fosso, Colíseu*/
.fr5_titles {
    background-image: linear-gradient(transparent, transparent);
    font-family: 'Pixellari';
    font-size: 64px;
    border-color: transparent;
    box-shadow: none;
    color: #FFFDD0;
}

.fr5_logoutbutton {
    border: 2px solid #FFFBA9;
    border-radius: 6px; 
    background-image: linear-gradient(#262626, #262626);
}

.fr5_advancebutton {
    box-shadow: none;
    font-size: 0px;
    outline: none;
    border: none;
    background-image: url('../img_files/advance.png');
    background-repeat: no-repeat;
}

.fr5_returnbutton {
    box-shadow: none;
    font-size: 0px;
    outline: none;
    border: none;
    background-image: url('../img_files/return.png');
    background-repeat: no-repeat;
}

.fr5_levelbar {
    border-width: 3px;
    border-color: #2D2822;
    border-style: solid;
    color: transparent;
}

.fr5_bar {
    background-color: white;
    box-shadow: 10px 6px 10px rgba(255, 255, 255, 0.2);
    border-width: 2px;
    border-color: #2D2822;
    border-style: solid;
}

.fr5_exp_label {
    font-family: 'Pixellari';
    font-size: 13px;
    color: white;
    font-weight: bold;
    text-shadow: 
        1px 1px 0px #000000,   /* Sombra preta no canto inferior direito */
        -1px -1px 0px #000000, /* Sombra preta no canto superior esquerdo */
        -1px 1px 0px #000000,  /* Sombra preta no canto inferior esquerdo */
        1px -1px 0px #000000,  /* Sombra preta no canto superior direito */
        2px 2px 2px #000000;   /* Sombra suave ao redor para efeito 3D */
}

.fr5_label_lvl_text {
    font-family: 'Pixellari';
    font-size: 24px;
    color: #FFDFA3;
    font-weight: bold;
}

.fr5_label_lvl {
    font-family: 'Pixellari';
    font-size: 32px;
    color: white;  
}

.fr5_page_view {
    box-shadow: none;
    font-size: 0px;
    outline: none;
    border: none;
    background-image: url('../img_files/bestiary_page1.png');
    background-repeat: no-repeat;
}

.fr5_btn_sort {
    box-shadow: none;
    font-size: 0px;
    outline: none;
    border: none;
    background-image: url('../img_files/sort_button.png');
    background-repeat: no-repeat;
}

.fr5_text_sort {
    font-family: 'Pixellari';
    font-size: 24px;
    color: white;
}

.fr5_bestiary_border {
    background-color: transparent;
    background-image: linear-gradient(transparent, transparent);
    border-width: 0px 0px 1px 0px;
    border-color: #97978F;
    border-style: solid;
}

.fr5_dragon_age {
    font-size: 13px;
    border-style: solid;
    color: white;
    border-radius: 0px;
}

.fr5_dragon_age_border {
    border-style: none;
}

.fr5_dragon_history_border {
    border-width: 1px;
    border-color: #97978F;
    border-style: solid;
    border-radius: 10px;
}

.fr5_beast_list_border {
    border-width: 2px;
    border-color: #FFFEDD;
    border-style: solid;
    border-radius: 10px;
    background-color: transparent;
}

.fr5_beast_list_scroll {
    border-style: none;
}

.fr5_btns_list {
    font-family: 'Pixellari';
    font-size: 24px;
    color: #ffffff; 
    background-image: linear-gradient(transparent, transparent);
    outline: none;
    border-width: 2px;
    border-color: #FFFEDD;
    box-shadow: 2px 0px 5px rgba(255, 253, 212, 0.3);
    border-radius: 0px;
    border-top: none;
    border-left: none;
    border-right: none;
    text-shadow: 
        2px 2px 0px #000000,   /* Sombra preta no canto inferior direito */
        -2px -2px 0px #000000, /* Sombra preta no canto superior esquerdo */
        -2px 2px 0px #000000,  /* Sombra preta no canto inferior esquerdo */
        2px -2px 0px #000000,  /* Sombra preta no canto superior direito */
        2px 2px 2px #000000;   /* Sombra suave ao redor para efeito 3D */
}

.fr5_btns_legendary {
    color: red;
}

.fr5_btns_epic {
    color: #7300FF;
}

.fr5_btns_rare {
    color: #FE9D00;
}

.fr5_btn_marker {
    border-width: 2px;
    border-color: #FFE89D;
    border-style: solid;
    border-radius: 10px;
    background-color: transparent;
}

scrollbar slider {
    background-color: #555; 
    border-radius: 10px; 
    min-height: 20px; 
}

scrollbar {
    background-color: transparent; 
    border-radius: 10px;
    margin: 0px;
    border: 0px solid #ccc; 
}

scrollbar slider:hover {
    background-color: #555; 
}

.fr5_cave_font {
    font-family: 'Pixellari'; 
    background-image: linear-gradient(transparent, transparent);
    text-shadow: 
        2px 2px 0px #000000,   /* Sombra preta no canto inferior direito */
        -2px -2px 0px #000000, /* Sombra preta no canto superior esquerdo */
        -2px 2px 0px #000000,  /* Sombra preta no canto inferior esquerdo */
        2px -2px 0px #000000,  /* Sombra preta no canto superior direito */
        2px 2px 2px #000000;   /* Sombra suave ao redor para efeito 3D */
}

.fr5_cave_lvl {
    color: red;
    font-size: 32px;
}

.fr5_cave_name {
    color: #FFFDD0;
    font-size: 32px;
}

.fr5_cave_border {
    border-style: solid;
    border-width: 2px;
    border-color: #FFFEDD;
    box-shadow: 2px 2px 2px rgba(255, 253, 212, 0.3);
    background-image: linear-gradient(transparent, transparent);
}

.fr5_cave_points {
    color: #FFFFFF;
    font-size: 24px;
}

.fr5_cave_health {
    color: #51FF00;
}

.fr5_cave_attack {
    color: #ff0000;
    font-size: 24px;
}

.fr5_cave_defense {
    color: #FFF600;
}

.fr5_cave_speed {
    color: #008CFF;
}

.fr5_btn_train {
    font-size: 24px;
    color: white;
    border-style: solid;
    outline: none;
    box-shadow: none;
    border-width: 3px;
    border-radius: 10px;
    border-color: #FFE89D;
    background-image: linear-gradient(transparent, transparent);
}

.fr5_btn_attacks {
    color: #FFDDA6;
    border-radius: 10px;
    outline: none;
    box-shadow: none;
    border-color: #FFBA7E;
    border-width: 2px;
    font-size: 20px;
}

.fr5_attack_border {
    border-color: #97978F;
    border-style: solid;
    border-width: 1px;
}

.fr5_attack_title {
    color: #FFCA75;
    font-size: 20px;
}

.fr5_attack_description {
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
}

.fr5_attack_details {
    color: #FFCA75;
    font-size: 15px;
}

.fr5_btn_newdragon {
    background-image: url('../img_files/newdragon.png');
}

.fr5_wind_element {
    background-image: url('../img_files/wind_element.png');
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    border: none;
}

.fr5_btn_confirm {
    font-family: "Pixellari";
    font-size: 20px;
    border-radius: 20px;
    background-image: linear-gradient(transparent, transparent);
    background-color: transparent;
}

.fr5_btn_confirm_new {
    color: #D19275;
}

.fr5_drop_shadow {
    box-shadow: 2px 0px 5px rgba(255, 253, 212, 0.3);
}

.fr5_btn_error {
    color: red;
    font-size: 14px;
    font-weight: bold;
}

/*
Frame 5 - Colíseu
*/
.fr5_coliseum_font {
    font-family: 'Pixellari';
    color: #FFFFFF;
}

.fr5_coliseum_blur {
    background: rgba(38, 38, 38, 0.65);
    border: 6px solid rgba(14, 14, 14, 0.1);
    border-radius: 20px;
}

.fr5_coliseum_defeat {
    font-size: 24px;
    text-shadow: 
        2px 2px 2px #000000,   /* Sombra preta no canto inferior direito */
        -2px -2px 2px #000000, /* Sombra preta no canto superior esquerdo */
        -2px 2px 2px #000000,  /* Sombra preta no canto inferior esquerdo */
        2px -2px 2px #000000,  /* Sombra preta no canto superior direito */
        2px 2px 2px #000000;   /* Sombra suave ao redor para efeito 3D */
}

.fr5_coliseum_dragon_name {
    color: red;
    font-size: 64px;
    
    text-shadow: 
        3px 3px 3px #000000,   
        -3px -3px 3px #000000, 
        -3px 3px 3px #000000, 
        3px -3px 3px #000000,  
        3px 3px 3px #000000;  
}

.fr5_btn_battle {
    background-image: linear-gradient(transparent, transparent);
    border-width: 3px;
    border-radius: 30px;
    box-shadow: 2px 0px 5px rgba(255, 41, 41, 0.6);
    border-color: #FF5132;
}

.fr5_dragon_border {
    background: rgba(0, 0, 0, 0.65);
    border: 6px solid rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.fr5_btn_advance_dragon {
    background-image: url('../img_files/advance_dragon.png');
}

.fr5_btn_return_dragon {
    background-image: url('../img_files/return_dragon.png');
}

.fr6_faceoff_font_size {
    font-size: 38px;
}

.fr6_label_vs_font_size {
    font-size: 64px;
}

.fr6_dragon_status_frame {
    background: #121212;
    border: 3px solid #7D7D7D;
    box-shadow: 0px 4px 4px rgba(186, 186, 186, 0.25);
    border-radius: 10px;
    color: white;
}

.fr6-no-scrollbar scrollbar {
    background: transparent;
    border: none;
    min-width: 0;
    min-height: 0;
}

.fr6-no-scrollbar scrollbar slider {
    background: transparent;
    border: none;
}

.fr6-no-scrollbar slider:hover {
    background: transparent; 
}

/* Frame 7, Resultado, vitória ou derrota */
.fr7_btn_continue {
    border: transparent;
    box-shadow: none;
}

.fr7_btn_continue_img {
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(186, 186, 186, 0.42);
}

.fr7_result_log_border {
    background: rgba(0, 0, 0, 0.75);
    border: 3px solid #383838;
    box-shadow: 0px 4px 4px rgba(186, 186, 186, 0.42);
    border-radius: 10px;
}

.fr7_result_text_font {
    font-family: "Pixellari";
    font-size: 20px;
    color: #FFE9AD;

    text-shadow: 
        2px 2px 2px #000000,   
        -2px -2px 2px #000000, 
        -2px 2px 2px #000000, 
        2px -2px 2px #000000,  
        2px 2px 2px #000000;  
}

.fr7_btn_attacks {
    border: 3px solid #383838;
    background-image: linear-gradient(rgba(0, 0, 0, 0.36), rgba(0, 0, 0, 0.36));
    box-shadow: 0px 2px 2px rgba(186, 186, 186, 0.42);
    border-radius: 10px;
}

.fr7_chat_attack {
    border: 6px solid rgba(0, 0 , 0, 0.4);
    background-color: rgba(38, 38, 38, 0.7);
    border-radius: 20px;
}


.fr7_timebar_blue {
    background-image: linear-gradient(0deg, #00AAFF 0%, #006699 100%);
}

.fr6_combat_frame_font_size {
    font-size: 28px;
    font-weight: 400;
}

.fr6_combat_frame_font_hp {
    font-size: 24px;
}

.fr7_chat_attack_font {
    font-size: 20px;
    color: white;
}

.fr6_framelifebar {
    background-color: transparent;
    border: 3px solid #383838;
}

.fr6_lifebar_green {
    background: linear-gradient(180deg, #00FF2F 0%, #48FF6A 49.52%, #00991C 100%);
    box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
}

.fr6_lifebar_yellow {
    background: linear-gradient(180deg, #FFFF00 0%, #FFFF0B 50%, #999900 100%);
    box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
}

.fr6_lifebar_red {
    background: linear-gradient(180deg, #D70000 0%, #FF0202 48.56%, #710000 100%);
}

.fr6_transparent_bg {
    background-color: transparent;
    box-shadow: 0px 0px 0px rgba(0,0,0, 0);
    border: none;
    background-image: linear-gradient(transparent, transparent);
}

/* Font-size */
.font_size_12px {
    font-size: 12px;
}

.font_size_15px {
    font-size: 15px;
}

.font_size_16px {
    font-size: 16px;
}

.font_size_20px {
    font-size: 20px;
}

.font_size_24px {
    font-size: 24px;
}

.font_size_28px {
    font-size: 28px;
}

.font_size_32px {
    font-size: 32px;
}

.font_size_40px {
    font-size: 40px;
}

.font_size_96px {
    font-size: 96px;
}

/* Colors */
.fr5_dragon_name_epic {
    color: #7300FF;
}

.fr5_dragon_name_rare {
    color: #FEAE00;
}

.fr5_dragon_name_common {
    color: white;
}

.fr5_dragons_defeat {
    color: red;
}

.fr5_difficulty_medium {
    color: #FFE100;
}

.fr5_difficulty_easy {
    color: #00FF1E;
}

.fr5_difficulty_tier_hard {
    color: #FF6A00;
}

.fr5_difficulty_hard {
    color: #7300FF;
}

.color_029AF8 {
    color: #029AF8;
}

.color_44FF00 {
    color: #44FF00;
}

.color_FF0000 {
    color: #FF0000;
}

.color_FFFFFF {
    color: #FFFFFF;
}

.color_FFDDA6 {
    color: #FFDDA6;
}

.color_FFFDD0 {
    color: #FFFDD0;
}

.color_FF4D00 {
    color: #FF4D00;
}

.color_FFA91F {
    color: #FFA91F;
}

.color_AEAEAE {
    color: #AEAEAE;
}

.white_background {
    background-color: white;
    background: white;
    background-image: linear-gradient(white, white);
}